// includes dom

ul#menu {
	@extend .discardable;

	position: absolute;
	z-index: 2;
	padding: 0;

	li {
		cursor: pointer;
		word-wrap: break-word;
		border-bottom: 1px solid;
	}
	li:last-of-type {
		border-bottom: none;
	}
}